h1 {
	color: rgb(80, 80, 80);
}

h3 {
	color: rgb(80, 80, 80);
}

p {
	color: rgb(80, 80, 80);
}

a {
	color: #4B0082;
}

h1:after
{
    content:' ';
    display:block;
    border:1px solid black;
}

body {
	text-align: center;
    background-image: url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xtf1/t31.0-8/11896544_10153781692582573_4805901210098942744_o.jpg");
}

body {    
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
 }
